<div class="modal fade" id="AlertModalintest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                <p class="modal-msg" style="margin-bottom:0px">Warning</p>
                <div class="pastques" id="Alert_modalintest" style="height:100px;display:flex;flex-direction: column;justify-content: center;
                align-items: center;
                ">
                    <!--question_modal <id -->
                    {% comment %} <button class="pastq" >1</button> {% endcomment %}
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="travel-opt" id="cancel" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    window.blur()
    window.addEventListener('blur', function() {
        // count++;
        //alert("hello i am waching you")
        $("#AlertModalintest").modal("show");
        let modal = document.getElementById("Alert_modalintest")
        $.ajax({
            method: 'POST',
            url: '/windowBlurError/',
            data: {
                "user":'{{request.user}}',
                
            },
            success: function(data) {
                // Handle the response here
                console.log("successfully incremeneted blur")
                //console.log(data);
                modal.innerText = "After 3 tab switch you will be eliminated \n and your tab switch : "+data.tabSwitchValue;
                if(data.tabSwitchValue > 3){
                    location.href = "/result/"
                }

            },
            error: function() {
                // Handle errors here
                alert("Something went wrong.....")
            }
        });
    });
    </script>


