{% extends 'app_1\base.html' %}
{% load static %}  

{% block "codeblock" %}


<h2>Welcome</h2>
<h1>{{user.username}}</h1> &nbsp; <a href="/signout"><button class="btn btn-primary">Logout</button></a>
{% comment %} <h1>{{request.user.first_name}}</h1> to get name of user {% endcomment %}

{% comment %} <button><a href="/questions">Start</a></button> {% endcomment %}

<div class="container">
    <h1>Instruction of page</h1>

    <form  method="POST">
        {% csrf_token %}
        
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem odio dolores, molestias odit voluptate modi ut aliquam nemo itaque! Error dolorem expedita hic. Molestiae dicta rerum sunt dolore numquam fugiat.</p>
    <input type="checkbox" class="form-check-input" name="checkbox" value="checked" id="instruction_checkbox"><br>
    <input type="submit" class="btn btn-primary"  id="instruction_submit_btn" disabled>
    
    </form> 
</div>

<!-- <script>
    // to handle button on instruction page
    document.getElementById("instruction_checkbox").addEventListener("change",()=>{
        let instruction_btn=document.getElementById("instruction_submit_btn");
        if (instruction_btn.disabled === true){
            instruction_btn.disabled = false;
        }else{
            instruction_btn.disabled =true;
        }
    })
</script> -->

<script src="{% static 'js/home.js' %}"></script>


{% endblock "codeblock" %}