{% load static %}
{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'css/MCQPage.css' %}"/>
{% endblock %}


<div class="Navbar2">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="#">
            <img src="clashwhite.png" alt="RC" height="52px" width="102px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" id="navlink" href="login.html">Log In</a>
            <a class="nav-item nav-link active" id="navlink" href="instructions.html">Instructions</a>
            <!-- <a class="nav-item nav-link active" id="navlink" href="MCQFinal.html">MCQ page</a> -->
            <a class="nav-item nav-link active " id="navlink" href="resultPage.html">Result</a>
            <a class="nav-item nav-link active" id="navlink" href="Leaderboard3.html">Leaderboard  </a>
            <a class="nav-item nav-link active" id="navlink" href="#">LogOut</a>
        </div>
        <img src="#" id="ieeelogo" alt="PISB IEEE">
      </nav>
</div>