{% extends 'app_1\base.html' %}
{% block "title" %}
{{title}}
{% endblock "title" %}

{% block "codeblock" %}
<div class="navbar-brand navvi timer" href="#" style="margin-left: 20px;">
    <div class="timer_container">
        <div class=" w-100 d-flex p-0 flex-grow-1" id="countdown">
            <span id="minutes" class="timeritems"></span> :
            <span id="seconds" class="timeritems"></span>
        </div>
      </div>                     
</div>
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissable fade show" role="alert">
        <strong>Message:</strong>{{ message }}
    </div>
    {% endfor %}

    <div>
        <h1>marks : {{player.playerScore}}</h1>
    </div>
     
    <h1>Randomly generated question number = {{question.questionID}}</h1>
    
    <h1>marks = <span id="marks-add">+{{marking_scheme.marks_add}}</span> <span id="marks-red"> </span></h1>
    
<form action="" method="POST" id="Question_form">
    {% csrf_token %}
    <h2 id="question_number">{{question_number}})</h2> <h2 id = "question_title">&nbsp; {{question.questionText}}</h2>

    <input type="radio" name="option" id="opt1" class="option" value=1>
    <label for="opt1" id = "option1">
        <span>{{question.questionOption1}}</span>
    </label>
    <input type="radio" name="option" id="opt2" class="option" value=2>
    <label for="opt2" id = "option2">
        <span>{{question.questionOption2}}</span>
    </label>
    <input type="radio" name="option" id="opt3" class="option" value=3>
    <label for="opt3" id = "option3">
        <span>{{question.questionOption3}}</span>
    </label>
    <input type="radio" name="option" id="opt4" class="option" value=4>
    <label for="opt4" id = "option4">
        <span>{{question.questionOption4}}</span>
    </label>

    {% if flag %}
        <button   type="submit" name="next" id="submit_btn" class="btn btn-primary"  >Next</button>
    {% else %}
        <!-- <button   type="submit" name="nsubmit" id="submit_btn">Submit</button> -->
        <button   type="submit" name="nsubmit" id="submit_btn" class="btn btn-primary">Submit</button>
    {% endif %}
</form>

<!-- <button id="sub">dfdf</button> -->

<div class="container">
    <h3>Lifeline activation details</h3>
    <button type="button" name="lifeline1" id="lifeline1btn" value=1 class="btn btn-primary" disabled>50/50 Lifeline1</button>
    <button type="button" name="lifeline2" id="lifeline2btn" value=2 class="btn btn-primary" disabled>Lifeline2</button>
    <button type="button" name="lifeline3" id="lifeline3btn" value=3 class="btn btn-primary" >Lifeline3</button> 
</div>
<div class = 'chatBotResponse' id = 'chatBotResponse' >
    <label for="chatBotInput">Enter Question ?</label><br>
    <input type="text" id="chatBotInput" name="chatBotInput"><br>
    <input type="submit" value="Ask TARS ?" id = "chatBotBtn">
    <div id = 'chatBotAns'>
        ans :
    </div>
</div>
<!-- for 2nd lifeline -->
<div id="question_modal">
</div>

<script>
    
    x = setInterval(function() {    
        
        const countDown = new Date('{{player_time}}').getTime();
            const now = new Date().getTime();
            // console.log(new Date())
            remain = countDown - now;
            // console.log("b time",countDown,"f time", now ) 
            // console.log(remain);
  
        //   document.getElementById("days").innerText = Math.floor(distance / (day)),
            let seconds = Math.floor((remain / 1000) % 60);
            let minutes = Math.floor((remain / (1000 * 60)) % 60);
            document.getElementById("minutes").innerText = minutes;
            // sec = toString(seconds)
            // console.log(val_sec)
            if (seconds<10 ){
                document.getElementById("seconds").innerText =  "0"+seconds ;
            }else{
                document.getElementById("seconds").innerText = seconds ;
            }  
          if (remain < 0) {
            const radioInputs = document.querySelectorAll('input[type="radio"]');
            radioInputs.forEach((input) => {
            input.required = false;
            
            });
            // document.getElementById("hours").innerText = 0;
            document.getElementById("minutes").innerText = 0;
            document.getElementById("seconds").innerText = 0;
            var sub_btn = document.getElementById("submit_btn");
            sub_btn.name = "nsubmit";
            sub_btn.click();
            clearInterval(x);
            // window.location.reload();
          }
          //seconds
        },0)  
</script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    
    console.log('{{which_lifeline_is_active.lifelineID}}')   //to get lifelien id
    // const data = '{{ life_line_dict }}';
    var data = JSON.parse("{{life_line_dict|escapejs}}");
    console.log(data);
    document.getElementById("marks-red").innerText = '{{marking_scheme.marks_sub}}';
    if (data.activate){
        for (let i = 0; i < data.lifeline_activate_number.length; i++) {
            console.log("ddsddd","lifeline"+data.lifeline_activate_number[i]+"btn")
            document.getElementById("lifeline"+data.lifeline_activate_number[i]+"btn").disabled = false;
        }
        
        //document.getElementById("marks-red").innerText = data.marks_red;
    }else{
        console.log("enter in else",'{{marking_scheme.marks_sub}}')
        // document.getElementById("marks-red").innerText = {{marking_scheme.marks_sub}}; 
    }

    //for lifeline 1
    if('{{which_lifeline_is_active.lifelineID}}'==='1'){
        console.log("enterd to deploy lifeline")
        deploy_lifeline1();
        disableOtherBtn(1);
    }
    document.getElementById("lifeline1btn").addEventListener("click",deploy_lifeline1);

    function deploy_lifeline1() {
        // document.getElementById("lifeline1btn").classList.add('btn-success');
        // document.getElementById("lifeline1btn").disabled=true;

        // document.getElementById("lifeline1btn").classList.remove('btn-primary');
        disableOtherBtn(1);
        document.getElementById("marks-red").innerText = data.marks_red;

        for (let i = 0; i < 2; i++){
            var opt=document.getElementById("opt"+data.option_disable[i]);
            opt.disabled = true ;
            // opt.style.display = 'none';
            
        }
        const radioInputs = document.querySelectorAll('input[type="radio"]');
        radioInputs.forEach((input) => {
        input.required = true;
        
        });
    }

    //for lifeline2
    let arr = JSON.parse('{{wrong_question_list}}')
    console.log(arr,"wrong questions")
    if (arr.length<=0){
        document.getElementById("lifeline2btn").disabled = true;
    }
    document.getElementById("lifeline2btn").addEventListener("click",()=>{
        let questionmodal = document.getElementById("question_modal");
        for (let i = 0;i< arr.length; i++) {
            deploy_lifeline2()
            var button = document.createElement("button");
            button.innerHTML = arr[i];
            button.classList.add("ques");
            button.classList.add("btn");
            button.classList.add("btn-primary");
            button.value = arr[i];
            questionmodal.appendChild(button);
            
        
            button.addEventListener("click", function(event) {
                document.getElementById("question_modal").style.display = "none";
                console.log("Button " + this.value + " clicked");
                var number = $('#lifeline2btn').val();
                console.log(number,'{{request.user}}',"this.value",this.value);
                $.ajax({
                    method: 'POST',
                    url: '/lifelineActivation/',
                    data: {
                        'number': number,
                        "user":'{{request.user}}',
                        "ques_num":this.value
                    },
                    success: function(data) {
                        // Handle the response here
                
                        console.log(data.question.question_title);
                        // var tempVar = JSON.parse(data)
                        console.log(typeof(data))
                        // console.log(tempVar["question_title"]);
                        // var radio = document.getElementsByName("option");
                        // radio[data.user_answer-1].checked = true; 
                        deploy_lifeline2(data)
                        displayQuestions(data.question)
                    

                    },
                    error: function() {
                        // Handle errors here
                    }
                });

            });
        }
    });
    if('{{which_lifeline_is_active.lifelineID}}'==='2'){
        console.log("enterd to deploy lifeline2")
        deploy_lifeline2();
        disableOtherBtn(2);
    }
    function deploy_lifeline2() {
        // document.getElementById("lifeline2btn").classList.add('btn-success');
        // document.getElementById("lifeline1btn").disabled = true;
        // document.getElementById("lifeline2btn").disabled = true;
        // document.getElementById("lifeline3btn").disabled = true;
        disableOtherBtn(2);
        document.getElementById("marks-red").innerText = '-6';

        //if user select 2nd lifeline at last btn should not be submit it should next
        var sub_btn = document.getElementById("submit_btn");
        if(sub_btn.name === "nsubmit"){
            sub_btn.name = "next";
            sub_btn.innerHTML = "Next";

        }

    }
    function displayQuestions(data){
        document.getElementById("question_title").innerHTML = data.question_title
        document.getElementById("option1").innerHTML = data.opt1
        document.getElementById("option2").innerHTML = data.opt2
        document.getElementById("option3").innerHTML = data.opt3
        document.getElementById("option4").innerHTML = data.opt4
        document.getElementById("question_number").innerHTML = data.question_number
    }
    
    function disableOtherBtn(lifeline_number) {
        for (let i = 1; i <= 3; i++) {
            if (i == Number(lifeline_number)) {
                document.getElementById("lifeline"+lifeline_number+"btn").classList.add('btn-success');
            }
            document.getElementById("lifeline"+i+"btn").disabled= true;
            
        }
    }
    
</script>
<script type="text/javascript">
    // {% comment %} for lifeline activation {% endcomment %}
    
        //for lifeline2
        $('#lifeline1btn').click(function() {
            var number = $('#lifeline1btn').val();
            console.log(number,'{{request.user}}')
            $.ajax({
                method: 'POST',
                url: '/lifelineActivation/',
                data: {
                    'number': number,
                    "user":'{{request.user}}',
                    
                },
                success: function(data) {
                    // Handle the response here
                    console.log(data);
                },
                error: function() {
                    // Handle errors here
                }
            });
        });
        

</script>

<script type="text/javascript">
    // {% comment %} for lifeline activation {% endcomment %}
        //for lifeline3
        function disableInput(){
            document.getElementById('chatBotInput').disabled = true;
            document.getElementById('chatBotBtn').style.display = "none";
        }
        $('#chatBotBtn').click(function() {
            var chatBotInput = $('#chatBotInput').val();
            console.log(chatBotInput, " " ,);
            $.ajax({
                method: 'POST',
                url: '/lifelineActivation/',
                data: {
                    'chatBotInput': chatBotInput,
                    'number' : 3,
                    "user":'{{request.user}}',
                    
                },
                success: function(data) {
                    // Handle the response here
                    console.log(data);
                    var myNewDiv = '<p> ' + data.chatBotOutput + '<\p>';
                        $('#chatBotAns').append(myNewDiv);disableInput();
                    
                },
                error: function() {
                    // Handle errors here
                }
            });
        });
        

</script>
<!-- <script>
    var disableNextBtn = document.getElementById("submit_btn");
    disableNextBtn.addEventListener("click" , ()=> {
        
        disableNextBtn.classList.add("btn-success")
        console.log("button clicked once")
        disableNextBtn.disabled = true;
    })
</script> --> 

{% endblock "codeblock" %}