<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <input type="radio" name="ns" id="dfsd" value="ggf">
        <label for="dfsd">sdasf</label>
    </div>

    <div id = "test1">

    </div>


    <input type="button" id="test" value="click">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script >
        // document.getElementById("test").addEventListener("click",(e)=>{
        //     console.log("clicked")
        //     e.target.disabled= true;
        // })    
        
        function btnss() {
            $("#test").prop('disabled', true);
        }
        function btndd() {
            $("#test").prop('disabled', false);
        }
        $(document).ready(function() {
        $('#test').click(function() {
            myFunction();
        });
    });


    async function myFunction() {
        console.log('Start');
        btnss();
        await new Promise(resolve => setTimeout(resolve, 1000));
        btndd();
        console.log('Delay');
        console.log('End');
        }
    </script>
</body>


</html>